.idea/*
simulations/
*/Papers/
.env
.DS_Store
./.env
./.ipynb_checkpoints/
./Viz.ipynb
./__pycache__/
./temp.py
simulations/**/*.jsonl
./simulations/
./simulations/*
./grade_log.txt
./temp_logs
simulations/
__pycache__
grade_log.txt
temp.txt
temp_logs
